<div class="bootstrap-wrapper">
    <div class="container mt text-center">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <div class="container text-center">
                    <img class="image-fluid" style="width: 100px;" src="../../assets/images.png" alt="">
                </div>
                <h1 class="text-center">Random Password Generator</h1>
                <h4 class="text-center" style="margin-top: -12px;">Create Strong Passwords Easily</h4>

                <form (ngSubmit)="onSubmit()">

                    <mat-form-field class="full-width">
                        <mat-label>Digits</mat-label>
                        <input [(ngModel)]="password.digit" name="digit" type="number" matInput required
                            placeholder="enter upto 10" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width">
                        <mat-label>Special Characters</mat-label>
                        <input [(ngModel)]="password.specialChar" name="specialChar" type="number" matInput required
                            placeholder="enter upto 10" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width">
                        <mat-label>Lower Case</mat-label>
                        <input [(ngModel)]="password.lowerCase" name="lowerCase" type="number" matInput required
                            placeholder="enter upto 10" />
                    </mat-form-field>
                    <br>
                    <mat-form-field class="full-width">
                        <mat-label>Upper Case</mat-label>
                        <input [(ngModel)]="password.upperCase" name="username" type="number" matInput required
                            placeholder="enter upto 10" />
                    </mat-form-field>

                    <br>
                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary">Generate</button>
                        <button style="margin-left: 20px;" type="reset" mat-raised-button color="accent">reset</button>
                    </div>

                    <div class="container text-center">
                        <br>
                    </div>

                    <ng-template [ngIf]="status">
                        <div class="container text-center">
                            <mat-form-field class="full-width" appearance="outline">
                                <mat-label>Password</mat-label>
                                <input type="text" [(ngModel)]="value" name="value" matInput>
                            </mat-form-field>
                        </div>
                    </ng-template>
                </form>
                
            </div>
        </div>
    </div>
</div>